%h2.text-center They are already miserable, why not enjoy it?

%table.text-center{ :align => 'center', :width => 400, 'border' => 0, 'cellpadding' => 5, 'cellspacing' => 5 }
  %thead
    %tr
      %th.text-center First Name
      %th.text-center Last Name
  %tbody
    - if(@display != nil)
      - @display.each do |user|
        %tr
          %td.text-center= link_to user.firstName, user_path(user.id)
          %td.text-center= user.lastName

%br
%div{style: "text-align:center"}
  %a=link_to "Search Again", {:action => 'new', :controller => 'search'}
  %br
  %a=link_to "Back to Profile!", '/users/' + session[:id]
