%h2 They are already miserable, why not enjoy it?

%table
  %thead
    %tr
      %th First Name
      %th Last Name
  %tbody
    - if(@display != nil)
      - @display.each do |user|
        %tr
          %td= link_to user.firstName, user_path(user.id)
          %td= user.lastName

%br
#{link_to "Back to Profile!", '/users/' + session[:id]}
