%h2
%table.text-center{ :align => 'center', :width => 800, 'border' => 0, 'cellpadding' => 5, 'cellspacing' => 5 }
  %thead
    %tr
      %th.text-center Posted By
      %th.text-center Post
      
  %tbody
    - if(@users != nil)
      - @users.each do |user|
        %tr
          %td= link_to user.firstName, user_path(user.id)
          %td= user.lastName
